<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>the conspirator</title>
</head>
<body>
    <div class="container">
      <h2><%=raven.name%><a href="/conspiracy/edit/<%=raven._id%>">edit</a></h2>
      <a href="/">The conspiracy</a>
    </div>
</body>
</html>
