<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <div id='wrapper'>
        <div id='content'>
            <h1>{{title}}</h1>
            <p>{{content}}</p>
            <p>{{content2}}</p>
            <div class="link">
                <a href="{{rock}}">{{link1_content}}</a>
            </div>
            <div class="link">
                <a href="{{paper}}">{{link2_content}}</a>
            </div>
            <div class="link">
                    <a href="{{scissors}}">{{link3_content}}</a>
                </div>
        </div>
    </div>
</body>
</html>
