<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body>
    <h2>Here are all the users:</h2>
        <h3>Name: <%= name %></h3>
        <h3>Location: <%= loc %></h3>
        <h3>Favorite Language: <%= lang %></h3>
        <h3>Comment: <%= comm %></h3>
  </body>
</html>
